body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.math-problems {
    margin-top: 20px;
}

.problem {
    margin-bottom: 20px;
}
button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.ice-cream-images {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}


.ice-cream-images img {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 18px;
}

button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.feedback {
    margin-top: 10px;
    font-weight: bold;
}




